* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgb(23, 22, 22);
  font-family: 'Pirata One', 'Times New Roman', Times, serif;
}